**/.env
**/node_modules
**/.env.local
server/.env
client/.env
env
env/
dlpmaterialgeneration-0fecad394f2d.json
.venv/
.venv-reranker/
server/node_modules/
client/node_modules/
client/dist/
__pycache__/
*.pyc
/docs/*